body {
  background: radial-gradient(circle at 50% 10%, rgba(255, 197, 125, 0.79) -10%, transparent 90%),
  linear-gradient(140deg, rgba(255, 87, 87, 0.48) -20%, transparent 90%);
  background-size: cover;
  background-position: left center;
  font-family: 'Volkhov', serif;
  color: #332a3e;
}

#page-title{
  text-align: center;
  font-size: 3.6em;
  text-decoration: underline;
  font-weight: bold;
}

header nav {
  text-align: center;
  font-size: larger;
  padding-bottom: 10px;
}

header nav a {
  padding: 10px;
  color: #332a3e;
}

header nav a:hover {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 1)
  );
  text-decoration: none;
  color: #332a3e;
}

iframe{
   border: 0;
   max-width: 1000px;
   height: 671px;
}

main {
  padding: 0;
}

section {
  background: radial-gradient(circle at 50% 10%,
    rgba(226, 240, 255, 0.79) -10%, transparent 90%),
    linear-gradient(140deg, rgba(255, 87, 87, 0.48) -20%, transparent 90%),
    linear-gradient(-150deg, rgb(145, 130, 236) -10%, transparent 60%),
    radial-gradient(40% 50% at 50% 120%, rgba(72, 0, 255, 0.25), transparent),
    linear-gradient(to right, rgba(135, 104, 255, 0.63), rgba(81, 39, 249, 0.65), rgb(0, 9, 178));
  padding: 20px;
  padding-bottom: 40px;
}

section#section_the-crawl{
  background: radial-gradient(circle at 50% 10%, rgba(255, 197, 125, 0.79) -10%, transparent 90%),
  linear-gradient(140deg, rgba(255, 87, 87, 0.48) -20%, transparent 90%),
  linear-gradient(-150deg, rgb(59, 214, 255) -10%, transparent 60%),
  radial-gradient(40% 50% at 50% 120%, rgba(30, 12, 76, 0.25), transparent),
  linear-gradient(to right, rgba(245, 34, 116, 0.63), rgb(39, 97, 249), white);
}

.album-img-container{
  max-width: 300px;
  margin-bottom: 10px;
}

.album-img-container img{
  width: 100%;
}

#teaser-section {
  padding: 20px;
  min-height: 90vh;
  margin: auto;
  width: 100%;
  font-size: 4em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(circle at 50% 10%,
    rgba(226, 240, 255, 0.79) -10%, transparent 90%),
    linear-gradient(140deg, rgba(255, 87, 87, 0.48) -20%, transparent 90%),
    linear-gradient(-150deg, rgb(145, 130, 236) -10%, transparent 60%),
    radial-gradient(40% 50% at 50% 120%, rgba(72, 0, 255, 0.25), transparent),
    linear-gradient(to right, rgba(135, 104, 255, 0.63), rgba(81, 39, 249, 0.65), rgb(0, 9, 178));
}

#teaser-section #the-lore-img-container{
  max-width: 500px;
  max-height: 500px;
  height: auto;
  min-width: 200px;
}

#teaser-section #the-lore-img-container img{
  width: 100%;
}

#teaser-section #spotify-img {
  max-width: 300px;
}

footer {
  padding: 20px;
  font-size: smaller;
}
